<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		
    </style>
	<title>Employee Management System -- Home Page</title>
</head>

<div id="header">
	<table style="width:100%; height: 60pt;">
        <tr>
          <th id="homeButton" style="width:10%">
            <a href="/"><img src="home.png" alt="" width="25" height="25">
          </th>
          <th style="width:20%;"></th>
          <th>
            <a href="/addemp/">Add Employee</a>
          </th>
          <th>
            <a href="/getemp/">Get Employee</a>
          </th>
          <th>
            <a href="/attendance/">Attendance</a>
          </th>
          <th>
            <a href="/leave/">Apply Leave</a>
          </th>
          <th style="width:30%;"></th>
        </tr>
      </table>
</div>
<div id="applyLeaveContent">
	Apply Leave
</div>

</html>