<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		
    </style>
	<title>Employee Information</title>
</head>

<div id="header">
	<table style="width:100%; height: 60pt;">
        <tr>
          <th id="homeButton" style="width:10%">
            <a href="index.html"><img src="{{ url_for('images', filename='home.png')}}" alt="" width="25" height="25">
          </th>
          <th style="width:20%;"></th>
          <th>
            <a href="AddEmp.html">Add Employee</a>
          </th>
          <th>
            <a href="GetEmp.html">Get Employee</a>
          </th>
          <th>
            <a href="Attendance.html">Attendance</a>
          </th>
          <th>
            <a href="applyLeave.html">Apply Leave</a>
          </th>
          <th style="width:30%;"></th>
        </tr>
      </table>
</div>

<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Employee ID:<br> {{ id }} <br><br>

			  		First Name:<br> {{ fname }} <br><br>

			  		Last Name:<br> {{ lname }} <br><br>

			  		Primary Interest:<br> {{ interest }} <br><br>

			  		Location:<br> {{ location }} <br><br>

			  		Image URL: <br> {{ image_url }} <br><br>

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://3.134.115.108:80/getemp">RESET</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>

</html>
